body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a:link{
color:#00B7FF;
text-decoration: none;
}

a:hover{
color:blue;
text-decoration: underline;
}

a:active{
color:orange;
text-decoration: underline;
}